
  <main>
    <div class="container">
      <div class="section1">
        <div class="row valign-wrapper" style="margin-bottom: 0px;">
          <div style="margin-left:10px;">
            <h5 style="font-weight:bold;">계정</h5>
          </div>
        </div>

        <div class="divider"></div>
        <form action="/account/edit" method="post">
          <div class="row">
            <div class="col s12 m5">
              <div class="card-panel grey  center-align">
                <span class="black-text">
                  문강현
                </span>
              </div>
              <div class="col s6">
                <p>임신 여부</p>
                <p>수유 여부</p>
              </div>
              <div class="col s6 right-align" style="margin-top:15px;">
                  <div>
                    <% if @user.pregnant %>
                      <input type="checkbox" id="test5" name="pregnant" checked="checked"/>
                      <label for="test5" ></label>
                    <% else %>
                      <input type="checkbox" id="test5" name="pregnant"/>
                      <label for="test5" ></label>
                    <% end %>
                  </div>
                  <div>
                    <% if @user.feeding %>
                      <input type="checkbox" id="test6" name="feeding" checked="checked"/>
                      <label for="test6"></label>
                    <% else %>
                      <input type="checkbox" id="test6" name="feeding"/>
                      <label for="test6"></label>
                    <% end %>

                  </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col s12 center">
              <button class="black-text waves-effect waves-light btn center grey" type="submit" name="action">완료
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script>

  </script>
