<div class='row' style='margin: 0 5px 5px 0;'>
  <div class='col s2'>
    <font class='truncate'>11</font>
  </div>
  <div class='col s9'>
      <input name='medicine[1][take_time]' type='radio' id='morning' value='아침'/>
      <label for='morning' style='padding-left: 20px;margin-right: 10px;'>아침</label>
      <input name='medicine[1][take_time]' type='radio' id='lunch' value='점심'/>
      <label for='lunch' style='padding-left: 20px;margin-right: 10px;'>점심</label>
      <input name='medicine[1][take_time]' type='radio' id='night' value='저녁'/>
      <label for='night' style='padding-left: 20px;margin-right: 10px;'>저녁</label>
  </div>
  <div class='col s1'>
    <a class='btn-floating btn-small waves-effect waves-light red cancel'></a>
  </div>
</div>
<script>
  $(".cancel").on("click",function(){
    row=$(this).parent("div").parent("div")
    console.log(row)
    row.remove();
  })
</script>
